<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div id="ATM">
   <h1>入力画面</h1>
   <input type="number" v-model="nyuryokugaku"></input>
   <h2>入力欄:{{nyuryokugaku}}円</h2>
   <button v-on:click="nyukin">入金</button>
   <button v-on:click="shukkin">出金</button>
   <h1>口座残高</h1>
   <h2>残高:{{zandaka}}円</h2>
   <h1>取引記録</h1>
   <div v-for="log in logs">{{log}}</div>






 </div>



<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>